<div class="top-bar">
    <div class="container top-bar-menu">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <ul class="list-group">
                    <li ng-repeat="item in items"><a href="#" />{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">

                </div>
            </div>
            <div class="col-lg-8">
                <div class="social-icons">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>